<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ZC Store</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css"  type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="__CSS__/style.css">


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="__CSS__/font-awesome/css/font-awesome.min.css"  type="text/css">
    <link rel="stylesheet" href="__CSS__/fonts/font-slider.css" type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="__JS__/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="__JS__/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
    <script >
        function addCart(id){
            $.ajax({
                url: '/home/goods/addCart',
                data: {gid: id},
                type: 'post',
                dataType: 'json',
                success: function(data){
                    if(data.state == 1){
                        $('#cart-count').text(data.count);
                        alert('加入购物车成功！');
                    }
                }
            });
        }
    </script>
</head>

<body>

<!--Top-->
<nav class="navbar navbar-default myNav" role="navigation">
    <div class="container">
        <div>
            <ul class="nav navbar-nav">
                <li><a href="javascript:void(0);">手机版</a></li>
                <li><a href="javascript:void(0);">服务中心</a></li>
                <li><a href="javascript:void(0);">在线客服</a></li>
            </ul>
        </div>
        <div id="user-div" class="pull-right">
            <ul class="nav navbar-nav">
                <php>$uname = session('uname');</php>
                <if condition="is_null($uname)">
                    <li><a href="/home/user/account.html"><span class="glyphicon glyphicon-envelope"></span> 登录</a></li>
                    <else />
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            欢迎你, {$uname} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/home/user/personal">我的账户</a></li>
                            <li><a href="/home/user/logout.html">退出登录</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);">我的订单</a></li>
                </if>
                <li><a href="/home/index/contact.html"><span class="glyphicon glyphicon-envelope"></span> 联系我们</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--Header-->
<header class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="logo"><a href="/"><img src="__IMG__/logo.png" /></a></div>
        </div>
        <div class="col-md-4">
            <form class="form-search">
                <input type="text" class="input-medium search-query" id="txt-search">
                <button type="button" class="btn" id="btn-search"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>
        <div class="col-md-4">
            <div id="cart"><a class="btn btn-1" href="/home/goods/cart.html"><span class="glyphicon glyphicon-shopping-cart"></span>购物车 : <span id="cart-count"><php>echo count(session('cart'));</php></span> 件</a></div>
        </div>
    </div>
</header>
<!--Navigation-->
<nav id="menu" class="navbar">
    <div class="container">
        <div class="navbar-header"><span id="heading" class="visible-xs">Categories</span>
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <volist name="menus" id="vo">
                    <li class="dropdown">
                        <php>
                            $url = $vo['info']['path'];
                            if($vo['info']['menu_type'] == 'cid'){
                                $url = '/home/goods/category/cid/'.$vo['info']['menu_value'];
                            }
                        </php>
                        <a href="{$url}" class="dropdown-toggle">{$vo['info']['title']}</a>
                        <php>
                            if(!is_null($vo['child']) && count($vo['child'] > 0))
                            {
                        </php>
                            <div class="dropdown-menu">
                                <div class="dropdown-inner">
                                    <php>
                                        $uls = ceil(count($vo['child'])/5);
                                        for($index = 0; $index < $uls; $index ++){
                                    </php>
                                        <ul class="list-unstyled">
                                            <volist name="vo.child" id="child" offset="$index*5" length="5">
                                                <php>
                                                    $suburl = $child['path'];
                                                    if($child['menu_type'] == 'cid'){
                                                        $suburl = '/home/goods/category/cid/'.$child['menu_value'];
                                                    }
                                                </php>
                                                <li><a href="{$suburl}">{$child.title}</a></li>
                                            </volist>
                                        </ul>
                                    <php>
                                        }
                                    </php>
                                </div>
                            </div>
                        <php>
                            }
                        </php>
                    </li>
                </volist>
            </ul>
        </div>
    </div>
</nav>

<script>
    $(function(){
        $('#btn-search').click(function(){
            var search = $('#txt-search').val();
            if(!search){
                alert('请输入搜索的关键词哦！');
            }
            else
            {
                window.location.href = '/home/goods/search/keywords/' + search;
            }
        });
    })
</script>