<include file="Public/header"/>
<div class="container">
    <volist name="allOrder" id="order">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th></th>
                        <th>名称</th>
                        <th>价格</th>
                        <th>支付时间</th>
                        <th>状态</th>
                    </tr>
                    <volist name="order" id="vo">
                        <tr>
                            <td><img height="30" width="30" src="{:getImgsrc($vo['goods_img'])}" alt="{$vo['goods_name']}"></td>
                            <td>{$vo['goods_name']}</td>
                            <td>{$vo['promote_price']}</td>
                            <td>{$vo['add_time']}</td>
                            <php>
                                $states = '未支付';
                                if($vo['order_status'] == 1){
                                    $states = '配送中';
                                }
                                else if($vo['order_status'] == 2){
                                    $states = '已确认收货';
                                }
                            </php>
                            <td>{$states}</td>
                        </tr>
                    </volist>
                </table>
            </div>
            <if condition="$order[0]['order_status'] eq 1">
                <div class="row">
                    <div class="col-md-2 col-md-offset-5">
                        <button class="btn btn-info" onclick="confirmState({$order[0]['order_id']})">确认收货</button>
                    </div>
                </div>
            </if>
        </volist>
    </div>
</div>
<script>
    function confirmState(id){
        $.ajax({
            url: '/home/goods/confirmOrder',
            data: {'oid': id},
            type: 'post',
            dataType: 'json',
            success: function(data){
                if(data.state == 1)
                {
                    alert('确认收货成功！');
                }
            }
        });
    }
</script>
<include file="Public/footer"/>