<include file="Public/header"/>
<!--//////////////////////////////////////////////////-->
<!--///////////////////Cart Page//////////////////////-->
<!--//////////////////////////////////////////////////-->
<style>
    .mytb td img{
        width: 30px !important;
        height: 30px !important;
    }
</style>
<script>
    function cartall(){
        var ids = [], cous = [];

        $('input[name="selectGoods"]:checked').each(function(index, obj){
            var tr = $(obj).parent().parent();
            var id = tr.children('td:eq(1)').text(),
                    cou = tr.find('input[name="count"]').val();
            ids.push(id);
            cous.push(cou);
        });

        $.ajax({
            url: '/home/goods/checkodinfo',
            data: {'ids[]': ids, 'cous[]': cous},
            type: 'post',
            dataType: 'json',
            success: function(data){
                if(data.state == 1)
                {
                    window.location.href = '/home/goods/checkOrder/order/' + data.order;
                }
                else{
                    $.when(alert('您还没有登录，先去登录吧！')).done(function(){
                        window.location.href = '/home/user/account';
                    });
                }
            }
        });
    };
</script>
<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li>购物车</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <table class="table mytb">
                <tr>
                    <th><input type="checkbox" id="selectAll" checked="checked"></th>
                    <th style="display: none;">编号</th>
                    <th width="10%">图片</th>
                    <th width="58%">商品</th>
                    <th width="8%">单价（元）</th>
                    <th width="8%">促销价</th>
                    <th width="10%">数量</th>
                    <th width="6%">操作</th>
                </tr>
                <volist name="cartGoods" id="goods">
                    <tr>
                        <td><input type="checkbox" checked="checked" name="selectGoods"></td>
                        <td style="display: none;">{$goods.goods_id}</td>
                        <td><img src="{:getImgsrc($goods['goods_img'])}" alt="{$goods.goods_name}" width="30" height="30"></td>
                        <td>{$goods.goods_name}</td>
                        <td>{$goods.shop_price}</td>
                        <td>{$goods.promote_price}</td>
                        <td>
                            <button onclick="minuxGoods(this)">-</button>
                            <input type="text" value="{$goods.count}" name="count" style="width: 30px; text-align: center;">
                            <button onclick="addGoods(this)">+</button>
                        </td>
                        <td>
                            <button onclick="delCart(this, {$goods.goods_id})">删除</button>
                        </td>
                    </tr>
                </volist>
            </table>
        </div>
        
        <div class="row">
            <div class="pricedetails">
                <div class="col-md-4 col-md-offset-8">
                    <table>
                        <h6>购物车</h6>
                        <tr>
                            <td>商品总计</td>
                            <td id="goods_count">{$gsprice}</td>
                        </tr>
                        <tr>
                            <td>优惠</td>
                            <td id="goods_yh">{$gpprice}</td>
                        </tr>
                        <tr>
                            <td>运费</td>
                            <td>0.00</td>
                        </tr>
                        <tr style="border-top: 1px solid #333">
                            <td><h5>总计</h5></td>
                            <td id="all_count">{$allCount}</td>
                        </tr>
                    </table>
                    <center><a href="javascript:void(0);" onclick="cartall()" class="btn btn-1">提交订单</a></center>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer"/>
<script>
    function minuxGoods(obj){
        var numbers = $(obj).parent().find('input[name="count"]'),
                count = numbers.val();
        if(count > 1)
        {
            numbers.val(parseInt(count) - 1);

            var tr = $(obj).parent().parent();
            var shopprice = tr.children('td:eq(3)').text(),
                    promotePrice = tr.children('td:eq(4)').text(),
                    goodsNumber = tr.find('input[name="count"]').val();
            var state = $(this).prop('checked');

            var goodsCount = $('#goods_count').text(),
                    goodsyh = $('#goods_yh').text(),
                    allCount = $('#all_count').text();

            var yh = shopprice - promotePrice,
                    newAllCount = parseFloat(goodsCount) - parseFloat(shopprice),
                    newyh = parseFloat(goodsyh) - parseFloat(yh);
            $('#goods_count').text(Number(newAllCount).toFixed(2));
            $('#goods_yh').text(Number(newyh).toFixed(2));
            $('#all_count').text(Number(newAllCount - newyh).toFixed(2));
        }
    }

    function addGoods(obj){
        var numbers = $(obj).parent().find('input[name="count"]'),
                count = numbers.val();
        numbers.val(parseInt(count) + 1);

        var tr = $(obj).parent().parent();
        var shopprice = tr.children('td:eq(4)').text(),
                promotePrice = tr.children('td:eq(5)').text(),
                goodsNumber = tr.find('input[name="count"]').val();
        var state = $(this).prop('checked');

        var goodsCount = $('#goods_count').text(),
                goodsyh = $('#goods_yh').text(),
                allCount = $('#all_count').text();

        var yh = shopprice - promotePrice,
                newAllCount = parseFloat(goodsCount) + parseFloat(shopprice),
                newyh = parseFloat(goodsyh) + parseFloat(yh);
        $('#goods_count').text(Number(newAllCount).toFixed(2));
        $('#goods_yh').text(Number(newyh).toFixed(2));
        $('#all_count').text(Number(newAllCount - newyh).toFixed(2));
    }

    function updateCount(obj, gid){
        var cou = $(obj).prev('input').val();
        if(isNaN(cou) || cou < 1){
            alert("请输入大于0的整数！");
            return;
        }

        $.ajax({
            url: '/home/goods/updateCount',
            data: {gid: gid, cou: cou},
            type: 'post',
            dataType: 'json',
            success: function(data){
                if(data.state == 1)
                {
                    $('#goods_count').text(data.gsprice);
                    $('#goods_yh').text(data.gpprice);
                    $('#all_count').text(data.allCount);

                    alert('更新成功！');
                }
            }
        });
    }

    var countall = 0;
    $(function(){
       $('input[name="count"]').focusin(
           function(){
               countall = $(this).val();
           }
       );
        $('input[name="count"]').focusout(
                function(){
                    var val = $(this).val();
                    if(!(new RegExp(/\d+/).test(val))){
                        alert("需输入整数！");
                        $(this).val(countall);
                    }
                }
        );

        $('#selectAll').change(function(){
           var state = $(this).prop('checked');
            if(state){
                $('input[name="selectGoods"]').each(function(index, data){
                    if(!$(data).prop('checked')) {
                        $(data).prop('checked', 'checked');
                        $(data).change();
                    }
                })
            }
            else{
                $('input[name="selectGoods"]').each(function(index, data){
                    if($(data).prop('checked')) {
                        $(data).removeAttr('checked');
                        $(data).change();
                    }
                })
            }
        });

        $('input[name="selectGoods"]').change(function(){
            var tr = $(this).parent().parent();
            var shopprice = tr.children('td:eq(4)').text(),
                    promotePrice = tr.children('td:eq(5)').text(),
                    goodsNumber = tr.find('input[name="count"]').val();
            var state = $(this).prop('checked');

            var goodsCount = $('#goods_count').text(),
                    goodsyh = $('#goods_yh').text(),
                    allCount = $('#all_count').text();

            if(state){
                var yh = shopprice - promotePrice,
                        newAllCount = parseFloat(goodsCount) + parseFloat(shopprice * goodsNumber),
                        newyh = parseFloat(goodsyh) + parseFloat(yh*goodsNumber);
                $('#goods_count').text(Number(newAllCount).toFixed(2));
                $('#goods_yh').text(Number(newyh).toFixed(2));
                $('#all_count').text(Number(newAllCount - newyh).toFixed(2));
            }
            else{
                var yh = shopprice - promotePrice,
                        newAllCount = parseFloat(goodsCount) - parseFloat(shopprice * goodsNumber),
                        newyh = goodsyh - yh*goodsNumber;
                $('#goods_count').text(Number(newAllCount).toFixed(2));
                $('#goods_yh').text(Number(newyh).toFixed(2));
                $('#all_count').text(Number(newAllCount - newyh).toFixed(2));
            }
        });
    });

    function delCart(obj, id){
        $.ajax({
            url: '/home/goods/delCart',
            data: {id: id},
            type: 'post',
            success: function(data){
                alert('删除成功！');
                $(obj).parent().parent().remove();
                var cartcount = $('#cart-count');
                cartcount.text(cartcount.text() - 1);
            }
        });
    }
</script>
</body>
</html>
