<include file="Public/header"/>
	
	<!--//////////////////////////////////////////////////-->
	<!--///////////////////Category Page//////////////////-->
	<!--//////////////////////////////////////////////////-->
<style>
	.products .image img{
		height: 240px !important;
	}
</style>
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="breadcrumb">
						<li><a href="/">首页</a></li>
						<if condition="$parent neq null">
							<li><a href="/home/index/category/cid/{$parent['cat_id']}">{$parent['cat_name']}</a></li>
						</if>
						<li>{$cname}</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div id="main-content" class="col-md-8">
					<php>
						$lines = ceil(count($typeGoods) / 3);
						for($index = 0; $index < $lines; $index ++){
					</php>
						<div class="row">
							<div class="col-md-12">
								<div class="products">
									<volist name="typeGoods" id="goods" offset="$index*3" length="3">
										<div class="col-lg-4 col-md-4 col-xs-12">
											<div class="product">
												<div class="image"><a href="/home/index/product/id/{$goods.goods_id}.html"><img src="{:getImgsrc($goods['goods_img'])}" /></a></div>
												<div class="buttons">
													<a class="btn cart" href="javascript: void(0);" onclick="addCart({$goods.goods_id})">
														<span class="glyphicon glyphicon-shopping-cart"></span></a>
													<a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
													<!--<a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>-->
												<!--<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a></div>-->
												<script type="text/javascript">
													 //全局变量，动态的文章ID
														var ShareId = "";
														//绑定所有分享按钮所在A标签的鼠标移入事件，从而获取动态ID
														$(function () {
															$(".bdsharebuttonbox a").mouseover(function () {
																ShareId = $(this).attr("data-id");
															});
														});

														/*
														* 动态设置百度分享URL的函数,具体参数
														* cmd为分享目标id,此id指的是插件中分析按钮的ID
														*，我们自己的文章ID要通过全局变量获取
														* config为当前设置，返回值为更新后的设置。
														*/
														function SetShareUrl(cmd, config) {
															if (ShareId) {
																config.bdUrl = "http://shiyousan.com/post/" + ShareId;
															}
															return config;
														}
													window._bd_share_config={
														"common":{         ////设置onBeforeClick事件，主要用于获取动态的商品ID
															onBeforeClick:SetShareUrl,"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"
														},"share":{
														},"image":{
															"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"
														},"selectShare":{
															"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]
														}
													};
													with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
												</script>
                                                                                                </div>
												<div class="caption">
													<div class="name"><h3><a href="/home/index/product/id/{$goods.goods_id}.html">{$goods.goods_name}</a></h3></div>
													<div class="price">{$goods.promote_price}<span>{$goods.shop_price}</span></div>
													<div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
												</div>
											</div>
										</div>
									</volist>
								</div>
							</div>
						</div>
					</volist>
					<php>}</php>
					<div class="row text-center">
						<!--<ul class="pagination">-->
						  <!--<li class="active"><a href="#">1</a></li>-->
						  <!--<li><a href="#">2</a></li>-->
						  <!--<li><a href="#">3</a></li>-->
						  <!--<li><a href="#">4</a></li>-->
						  <!--<li><a href="#">5</a></li>-->
						<!--</ul>-->
						<div class="page" style="display: inline-block; margin: 0px auto">
							{$_page}
						</div>
					</div>
				</div>
				<include file="Public/right"/>
			</div>
		</div>
	</div>	
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
	<include file="Public/footer"/>