<include file="Public/header"/>
<link href="__CSS__/bootstrap.min.css" rel='stylesheet' type='text/css' />
<link href="__CSS__/detail.css" rel="stylesheet" type="text/css" media="all" />
<script src="__JS__/jquery-2.1.1.js"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/simpleCart.min.js"> </script>
<link rel="stylesheet" href="__CSS__/flexslider.css" type="text/css" media="screen" />

<div class="container">
    <div class="products-page">
        <div class="products">
            <div class="product-listy">
                <h2>值得一看</h2>
                <ul class="product-list">
                    <li><a href="">New Products</a></li>
                    <li><a href="">Old Products</a></li>
                    <li><a href="">T-shirts</a></li>
                    <li><a href="">pants</a></li>
                    <li><a href="">Dress</a></li>
                    <li><a href="">Shorts</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </div>
            <div class="latest-bis">
                <a href="/home/index/product/id/{$feature.goods_id}">
                    <img src="{:getImgSrc($feature['goods_img'])}" class="img-responsive" alt="{$feature.goods_name}" />
                </a>
                <div class="offer">
                    <p>超值</p>
                    <small>强烈推荐</small>
                </div>
            </div>
            <div class="tags">
                <h4 class="tag_head">品牌推荐</h4>
                <ul class="tags_links">
                    <volist name="brands" id="vo">
                        <li><a href="{$vo.brand_id}">{$vo.brand_name}</a></li>
                    </volist>
                </ul>
            </div>

        </div>
        <div class="new-product">
            <div class="col-md-5 zoom-grid">
                <div class="flexslider">
                    <ul class="slides">
                        <volist name="imgs" id="vo">
                            <li data-thumb="{$vo}">
                                <div class="thumb-image"> <img width="100" height="64" src="{$vo}" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 dress-info">
                <div class="dress-name">
                    <h3>{$goods.goods_name}</h3>
                    <span style="vertical-align: middle; line-height: 56px;">¥{$goods.promote_price}</span>
                    <div class="clearfix"></div>
                    <p>{$goods.goods_desc}</p>
                </div>
                <volist name="attrs" id="vo">
                    <div class="span span1">
                        <p class="left">{$vo.attr_name}</p>
                        <p class="right">
                            <php>$values = $vo['value'];</php>
                            <select name="attr_value">
                                <volist name="values" id="val">
                                    <option value="{$val}">{$val}</option>
                                </volist>
                            </select>
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </volist>
                <div class="purchase">
                    <a href="#">Purchase Now</a>
                    <div class="social-icons">
                        <ul>
                            <li><a class="facebook1" href="#"></a></li>
                            <li><a class="twitter1" href="#"></a></li>
                            <li><a class="googleplus1" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <script src="__JS__/imagezoom.js"></script>
                <!-- FlexSlider -->
                <script defer src="__JS__/jquery.flexslider.js"></script>
                <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function() {
                        $('.flexslider').flexslider({
                            animation: "slide",
                            controlNav: "thumbnails"
                        });
                    });
                </script>
            </div>
            <div class="clearfix"></div>
            <div class="reviews-tabs">
                <!-- Main component for a primary marketing message or call to action -->
                <ul class="nav nav-tabs responsive hidden-xs hidden-sm" id="myTab">
                    <li class="test-class active"><a class="deco-none misc-class" href="#how-to"> 更多详情</a></li>
                    <li class="test-class"><a href="#features">功能</a></li>
                    <li class="test-class"><a class="deco-none" href="#source">评价 (7)</a></li>
                </ul>

                <div class="tab-content responsive hidden-xs hidden-sm">
                    <div class="tab-pane active" id="how-to">
                        {$goods.goods_info}
                    </div>
                    <div class="tab-pane" id="features">
                        <p class="tab-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.This tab has icon in consectetur adipiscing eliconse consectetur adipiscing elit. Vestibulum nibh urna, ctetur adipiscing elit. Vestibulum nibh urna, t.consectetur adipiscing elit. Vestibulum nibh urna,  Vestibulum nibh urna,it.</p>
                        <p class="tab-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="tab-pane" id="source">
                        <div class="response">
                            <div class="media response-info">
                                <div class="media-left response-text-left">
                                    <a href="#">
                                        <img class="media-object" src="__IMG__/icon1.png" alt="" />
                                    </a>
                                    <h5><a href="#">Username</a></h5>
                                </div>
                                <div class="media-body response-text-right">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <ul>
                                        <li>DEC 25, 2014</li>
                                        <li><a href="single.html">Reply</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="other-products products-grid">
    <div class="container">
        <header>
            <h3 class="like text-center">猜你喜欢</h3>
        </header>
        <volist name="related" id="vo">
            <php>$img = getImgSrc($vo['goods_img']);</php>
            <div class="col-md-4 product simpleCart_shelfItem text-center">
                <a href="/home/index/product/id/{$vo.goods_id}.html"><img class="relate-img" src="{$img}" alt="{$vo.goods_name}" /></a>
                <div class="mask">
                    <a href="/home/index/product/id/{$vo.goods_id}.html">{$vo.goods_name}</a>
                </div>
                <p><a class="item_add" href="#"><i></i> <span class="item_price">{$vo.promote_price}</span></a></p>
            </div>
        </volist>
        <div class="clearfix"></div>
    </div>
</div>
<!-- content-section-ends -->
<div class="news-letter">
    <div class="container">
        <div class="join">
            <h6>订阅我们</h6>
            <div class="sub-left-right">
                <form>
                    <input type="text" value="Enter Your Email Here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email Here';}" />
                    <input type="submit" value="订阅" />
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<include file="Public/footer"/>

<script src="__JS__/responsive-tabs.js"></script>
<script type="text/javascript">
    $( '#myTab a' ).click( function ( e ) {
        e.preventDefault();
        $( this ).tab( 'show' );
    } );

    $( '#moreTabs a' ).click( function ( e ) {
        e.preventDefault();
        $( this ).tab( 'show' );
    } );

    ( function( $ ) {
        // Test for making sure event are maintained
        $( '.js-alert-test' ).click( function () {
            alert( 'Button Clicked: Event was maintained' );
        } );
        fakewaffle.responsiveTabs( [ 'xs', 'sm' ] );
    } )( jQuery );

</script>

</body>
</html>