<extend name="Public/base"/>

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">
    <script>
        function delAttr(obj, id){
            if(confirm('确定要删除吗？')){
                $.ajax({
                    url: "{:U('goods/delAttr')}",
                    data: {id: id},
                    dataType: 'json',
                    type: 'post',
                    success: function(data){
                        if(data.status == 1){
                            alert('删除成功！');
                            $(obj).parent().parent().remove();
                        }
                    }
                });
            }
        }
    </script>
    <!-- 标题 -->
    <div class="main-title">
        <h2>
            全部属性管理
        </h2>
    </div>

    <div class="cf">
        <div class="fl">
            <select id="cat_id">
                <option value="0">全部</option>
                <volist name="cats" id="vo">
                    <option value="{$vo.cat_id}" <if condition="$cat_id eq $vo['cat_id']">selected</if>>{$vo.cat_name}</option>
                </volist>
            </select>
        </div>
    </div>

    <div class="data-table">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">编号</th>
                <th class="">商品类型</th>
                <th class="">属性名</th>
                <th class="">属性类型</th>
                <th class="" width="30%">属性值</th>
                <th class="">排序</th>
                <th class="">是否链接</th>
                <th class="">属性组</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="allGattrs" id="vo">
                <tr>
                    <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
                    <td>{$vo.attr_id} </td>
                    <td>{$vo.cat_id}</td>
                    <td>{$vo.attr_name}</td>
                    <td>{$vo.attr_type}</td>
                    <td><span>{$vo.attr_values}</span></td>
                    <td><span>{$vo.sort_order}</span></td>
                    <td><span>{$vo.is_linked}</span></td>
                    <td><span>{$vo.attr_group}</span></td>
                    <php>
                        $p = I('get.p', 1);
                    </php>
                    <td><a href="{:U('goods/editattr?attr_id='.$vo['attr_id'].'&p='.$p)}">编辑</a>
                        <a href="javascript:void(0);" onclick="delAttr(this, {$vo.attr_id})">删除</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>

    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script>
        var url = "/index.php?s=/Admin/goods/attr";
        $(function(){
           $('#cat_id').change(function(){
               var catid = $(this).val();
               window.location.href=url+'/cat_id/'+catid+'.html';
           });
        });
    </script>
</block>