<extend name="Public/base"/>

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">
    <!-- 标题 -->
    <div class="main-title">
        <h2>
            商品属性管理
        </h2>
    </div>

    <div class="data-table">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">编号</th>
                <th class="">商品类型</th>
                <th class="">属性名</th>
                <th class="">属性类型</th>
                <th class="" width="30%">属性值</th>
                <th class="">排序</th>
                <th class="">是否链接</th>
                <th class="">属性组</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="allGattrs" id="vo">
                <tr>
                    <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
                    <td>{$vo.attr_id} </td>
                    <td>{$vo.cat_id}</td>
                    <td>{$vo.attr_name}</td>
                    <td>{$vo.attr_type}</td>
                    <td><span>{$vo.attr_values}</span></td>
                    <td><span>{$vo.sort_order}</span></td>
                    <td><span>{$vo.is_linked}</span></td>
                    <td><span>{$vo.attr_group}</span></td>
                    <td><a href="{:U('Article/edit?cate_id='.$vo['category_id'].'&id='.$vo['id'])}">编辑</a>
                        <a href="{:U('Article/setStatus?ids='.$vo['id'].'&status='.abs(1-$vo['status']))}" class="ajax-get">{$vo.status|show_status_op}</a>
                        <a href="{:U('Article/setStatus?status=-1&ids='.$vo['id'])}" class="confirm ajax-get">删除</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>

    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
</block>