<extend name="Public/base"/>

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">

    <script>
        function setOnSale(obj, id, state, field, onText, offText){
            $.ajax({
                url: "{:U('goods/setState')}",
                data: {id: id, state: state, field: field},
                dataType: 'json',
                type: 'post',
                success: function(data){
                    if(data.status == 1){
                        alert('修改成功！');
                        var sttxt = state == 1?onText:offText;

                        $(obj).html(sttxt);
                        $(obj).attr('onclick', "setOnSale(this," + id + ", " + (1-state) + ",'" + field + "','" + onText + "','" + offText + "')");
                    }
                }
            });
        }

        function delGoods(obj, id){
            if(confirm('确定要删除吗？')){
                $.ajax({
                    url: "{:U('goods/delGoods')}",
                    data: {id: id},
                    dataType: 'json',
                    type: 'post',
                    success: function(data){
                        if(data.status == 1){
                            alert('删除成功！');
                            $(obj).parent().parent().remove();
                        }
                    }
                });
            }
        }
    </script>
    <!-- 标题 -->
    <div class="main-title">
        <h2>
            商品列表
        </h2>
    </div>

    <div class="cf">
        <div class="fl">
            <a class="btn" href="{:U("goods/editgoods")}">添 加</a>
        </div>
    </div>

    <div class="data-table">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">编号</th>
                <th class="">分类</th>
                <th class="">名称</th>
                <th class="">图片</th>
                <th class="">品牌</th>
                <th class="">价格</th>
                <th class="">推荐</th>
                <th class="">是否上架</th>
                <th class="">添加时间</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="allGoods" id="vo">
                <tr>
                    <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
                    <td>{$vo.goods_id} </td>
                    <td>{$vo.cat_id}</td>
                    <td>{$vo.goods_name}</td>
                    <td><img width="50" height="50" src="{$vo.goods_img}"/></td>
                    <td>{$vo.brand}</td>
                    <td>{$vo.shop_price}</td>
                    <td><eq name="vo.is_promote" value="1"><a href="javascript:void(0);" onclick="setOnSale(this, {$vo.goods_id}, 0, 'is_promote', '是', '否')">是</a><else/><a href="javascript:void(0);" onclick="setOnSale(this, {$vo.goods_id}, 1, 'is_promote', '是', '否')">否</a></eq></td>
                    <td><eq name="vo.is_on_sale" value="1"><a href="javascript:void(0);" onclick="setOnSale(this, {$vo.goods_id}, 0, 'is_on_sale', '在售', '下架')">在售</a><else/><a href="javascript:void(0);" onclick="setOnSale(this, {$vo.goods_id}, 1, 'is_on_sale', '在售', '下架')">下架</a></eq></td>
                    <td>{$vo.add_time|strtotime|date='Y-m-d H:i:s', ###}</td>
                    <php>
                        $p = I('get.p', 1);
                    </php>
                    <td><a href="{:U('Goods/editgoods?id='.$vo['goods_id'].'&p='.$p)}">编辑</a>
                        <a href="javascript:void(0);" onclick="delGoods(this, {$vo.goods_id})">删除</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>

    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
</block>