<include file="Public/header"/>
	<!--//////////////////////////////////////////////////-->
	<!--///////////////////HomePage///////////////////////-->
	<!--//////////////////////////////////////////////////-->
	<div id="page-content" class="home-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- Carousel -->
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators hidden-xs">
							<volist name="banners" id="vo" key="k">
								<li data-target="#carousel-example-generic" data-slide-to="{$k-1}" <if condition='$k eq 1'>class="active"</if>></li>
							</volist>
						</ol>
						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<volist name="banners" id="vo" key="k">
								<div class="item <if condition='$k eq 1'>active</if>">
									<a href="{$vo.link}"><img src="{$vo.image}" style="width: 1900px; height: 450px;" alt="First slide"></a>
									<!-- Static Header -->
									<div class="header-text hidden-xs">
										<div class="col-md-12 text-center">
										</div>
									</div><!-- /header-text -->
								</div>
							</volist>
						</div>
						<!-- Controls -->
						<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div><!-- /carousel -->
				</div>
			</div>
			<div class="row">
				<div class="banner">
					<div class="col-sm-4">
						<img src="__IMG__/sub-banner1.png" />
					</div>
					<div class="col-sm-4">
						<img src="__IMG__/sub-banner2.png" />
					</div>
					<div class="col-sm-4">
						<img src="__IMG__/sub-banner3.png" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="heading"><h2>新品上架</h2></div>
					<div class="products">
						<volist name="latest" id="vo">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="product">
									<div class="image"><a href="/home/index/product/id/{$vo.goods_id}.html"><img src="{$vo.goods_img}" style="height: 160px;" /></a></div>
									<div class="buttons">
										<a class="btn cart" href="/addCart/{$vo.goods_id}"><span class="glyphicon glyphicon-shopping-cart"></span></a>
										<a class="btn wishlist" href="/wish/{$vo.goods_id}/"><span class="glyphicon glyphicon-heart"></span></a>
									</div>
									<div class="caption">
										<div class="name"><h3><a href="/home/index/product/id/{$vo.goods_id}.html">{$vo.goods_name}</a></h3></div>
										<div class="price">¥{$vo.shop_price}<span>¥98</span></div>
										<div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
									</div>
								</div>
							</div>
						</volist>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="banner">
					<div class="col-sm-6">
						<img src="__IMG__/sub-banner4.jpg" />
					</div>
					<div class="col-sm-6">
						<img src="__IMG__/sub-banner5.png" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="heading"><h2>推荐商品</h2></div>
					<div class="products">
						<volist name="latest" id="vo">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="product">
									<div class="image"><a href="/home/index/product/id/{$vo.goods_id}.html"><img src="{$vo.goods_img}" style="height: 160px;" /></a></div>
									<div class="buttons">
										<a class="btn cart" href="/addCart/{$vo.goods_id}"><span class="glyphicon glyphicon-shopping-cart"></span></a>
										<a class="btn wishlist" href="/wish/{$vo.goods_id}/"><span class="glyphicon glyphicon-heart"></span></a>
									</div>
									<div class="caption">
										<div class="name"><h3><a href="/home/index/product/id/{$vo.goods_id}.html">{$vo.goods_name}</a></h3></div>
										<div class="price">¥{$vo.shop_price}<span>¥98</span></div>
										<div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
									</div>
								</div>
							</div>
						</volist>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="heading"><h2>热门商品</h2></div>
					<div class="products">
						<volist name="latest" id="vo">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="product">
									<div class="image"><a href="/home/index/product/id/{$vo.goods_id}.html"><img src="{$vo.goods_img}" style="height: 160px;" /></a></div>
									<div class="buttons">
										<a class="btn cart" href="/addCart/{$vo.goods_id}"><span class="glyphicon glyphicon-shopping-cart"></span></a>
										<a class="btn wishlist" href="/wish/{$vo.goods_id}/"><span class="glyphicon glyphicon-heart"></span></a>
									</div>
									<div class="caption">
										<div class="name"><h3><a href="/home/index/product/id/{$vo.goods_id}.html">{$vo.goods_name}</a></h3></div>
										<div class="price">¥{$vo.shop_price}<span>¥98</span></div>
										<div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
									</div>
								</div>
							</div>
						</volist>
					</div>
				</div>
			</div>
		</div>
	</div>
<include file="Public/footer"/>
</body>
</html>
