<include file="PUBLIC/header"/>
<style>
    .goods-img {
        height: 180px;
    }
</style>
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <volist name="allGoods.data" id="good">
                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                                <img src="{$good.goods_img}" alt="{$good.goods_name}" class="goods-img">
                            </div>
                            <h2><a href="/home/index/detail/id/{$good.goods_id}">{$good.goods_name}</a></h2>
                            <div class="product-carousel-price">
                                <ins>¥{$good.shop_price}</ins> <del>¥999.00</del>
                            </div>

                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">加入购物车</a>
                            </div>
                        </div>
                    </div>
                </volist>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <php>
                            if((int)$allGoods['pages']>1){
                        </php>
                        <nav>
                          <ul class="pagination">
                            <li>
                              <a href="/home/index/shop.html?p={$p-1}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                              <for start="1" end="$allGoods['pages']+1">
                                  <li><a href="/home/index/shop.html?p={$i-1}">{$i}</a></li>
                              </for>
                            <li>
                              <a href="/home/index/shop.html?p={$p+1}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                        <php>}</php>
                    </div>
                </div>
            </div>
        </div>
    </div>

<include file="PUBLIC/footer"/>